section.answer
  .container
    h2.answer__title Ответы на популярные вопросы покупателей
    .answer__inner
      ul.answer__list.accordeon
        li.accordeon__item
          .accordeon__title.item--active
            .accordeon__title-text Что можно сливать в септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content.content--active В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text Что делать, если отключили электоэнергию во время работы станции?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text У нас высокий уровень грунтовых вод, можно ли установить септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
      ul.answer__list.accordeon
        li.accordeon__item
          .accordeon__title.item--active 
            .accordeon__title-text Как начать работу с нами?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content.content--active Оставьте заявку на сайте или позвоните по указанному телефону на сайте. Первый освободившийся специалист свяжется с Вами в течение короткого промежутка времени.
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text Что делать, если отключили электоэнергию во время работы станции?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content Оставьте заявку на сайте или позвоните по указанному телефону на сайте. Первый освободившийся специалист свяжется с Вами в течение короткого промежутка времени.
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text У нас высокий уровень грунтовых вод, можно ли установить септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content Оставьте заявку на сайте или позвоните по указанному телефону на сайте. Первый освободившийся специалист свяжется с Вами в течение короткого промежутка времени.
      ul.answer__list.accordeon
        li.accordeon__item
          .accordeon__title.item--active
            .accordeon__title-text Что можно сливать в септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content.content--active В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title
            .accordeon__title-text Как начать работу с нами?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content Оставьте заявку на сайте или позвоните по указанному телефону на сайте. Первый освободившийся специалист свяжется с Вами в течение короткого промежутка времени.
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text Что делать, если отключили электоэнергию во время работы станции?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text У нас высокий уровень грунтовых вод, можно ли установить септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text Что делать, если отключили электоэнергию во время работы станции?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
        li.accordeon__item
          .accordeon__title 
            .accordeon__title-text У нас высокий уровень грунтовых вод, можно ли установить септик?
            img(src="images/answer/plus.svg", alt="")
          .accordeon__content В септики, которые устанавливает наша компания, можно сливать любые хозяйственно-бытовые стоки, в том числе: канализационные стоки, вода из-под ванны, душа, раковины, стиральной машины, посудомоечной машины и бани. Не желательно попадание: горюче-смазочных и лакокрасочных материалов (бензин, керосин, ацетон, краска).
    form.answer__form.form(action="mail.php" autocomplete="off")
      .answer__form-title Остались вопросы? Задайте их нашему ведущему инженеру он ответит в течении 15 минут 
      .answer__form-box
        input.answer__form-input.input-name(type="text" required name='name' placeholder='Ваше имя')
        input.answer__form-input.input-phone(type="text" required name='phone' placeholder='+7(999) 999-99-99')
        input.answer__form-input(type="email" name='email' placeholder='Ваш E-mail')
        button.answer__form-btn(type='submit') Оставить заявку
      p.answer__policy Отправляя данные, вы соглашаетесь с <a href='policy.html'>политикой конфиденциальности</a>