footer.footer
  .container
    .footer__inner
      a.logo(href="index.html")
        img(src="images/icons/footer-logo.svg", alt="")
      nav.footer__menu
        ul.footer__list
          li.footer__list-item
            a.footer__list-link(href="#") Топас
          li.footer__list-item
            a.footer__list-link(href="#") Биодевайс
          li.footer__list-item
            a.footer__list-link(href="#") Коловеси
          li.footer__list-item
            a.footer__list-link(href="#") Евробион
          li.footer__list-item
            a.footer__list-link(href="#") Биодека
          li.footer__list-item
            a.footer__list-link(href="#") Кристал
          li.footer__list-item
            a.footer__list-link(href="#") Астра
          li.footer__list-item
            a.footer__list-link(href="#") Евролос
          li.footer__list-item
            a.footer__list-link(href="#") Зорде
          li.footer__list-item
            a.footer__list-link(href="#") Аэробокс
          li.footer__list-item
            a.footer__list-link(href="#") Оптима
      .footer__contacts
        p.footer__contacts-item Санкт-Петербург
        a.footer__contacts-item(href="tel:79205670759") +7 (920) 567-07-59
    .footer__content
      p.footer__content-text Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437(2) ГК РФ. <br> Для получения точной информации об оказываемых услугах и их стоимости обращайтесь к менеджерам компании
      p.footer__content-text В связи с нестабильным курсом валют и изменением стоимостью материалов, из которых изготовлен септик, цена может отличаться от представленных на сайте.
      a.footer__content-policy(href="policy.html") Политика конфидециальности