section.price
  .container
    .price__content
      h2.price__title Из чего складывается стоимость септика и его установки?
      ul.price__list
        li.price__item
          img(src="images/price/1.svg", alt="")
          p.price__item-text Тип и плотность почвы
        li.price__item
          img(src="images/price/2.svg", alt="")
          p.price__item-text Уровень грунтовых вод
        li.price__item
          img(src="images/price/3.svg", alt="")
          p.price__item-text Бренд и модель септика
        li.price__item
          img(src="images/price/4.svg", alt="")
          p.price__item-text Необходимость специальной техники
        li.price__item
          img(src="images/price/5.svg", alt="")
          p.price__item-text Варианты отвода очищенных вод
        li.price__item
          img(src="images/price/6.svg", alt="")
          p.price__item-text Глубина подводных коммуникаций

