section.reviews#reviews
  .container
    h2.reviews__title Отзывы об установке септика <span>в Санкт-Петербурге</span>
    .reviews__slider
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Валентин Кристин
                p.reviews__item-time 10 минут назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Сергей Колыш
                p.reviews__item-time 8 месяцев назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Владимир Иванов
                p.reviews__item-time 4 месяца назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Валентин Кристин
                p.reviews__item-time 10 минут назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Валентин Кристин
                p.reviews__item-time 10 минут назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!
      .reviews__box
        .reviews__item
          img.reviews__item-person(src="images/reviews/person.svg", alt="")
          .reviews__item-content
            .reviews__item-content-box
              img.reviews__item-person(src="images/reviews/person.svg", alt="")
              .reviews__item-info
                p.reviews__item-name Валентин Кристин
                p.reviews__item-time 10 минут назад
                .reviews__item-rating
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
                  img(src="images/reviews/rating.svg", alt="")
            p.reviews__item-text Спасибо за профессиональную работу! Долго выбирал компанию которая сделает монтаж септика и не ошибся. Приехала бригада и через 7 часов уже был проведен трубопровод, установлен дренажный колодец и станция биологической очистки в загородный дом. Еще раз спасибо за работу!                         