section.steps
  .container
    h2.steps__title <span>Получите пошаговую инструкцию</span><br>“Как установить септик самостоятельно”
    ul.steps__list
      li.steps__item
        .steps__item-box
          .steps__item-num
            img.steps__item-icon(src="images/steps/1.png", alt="")
            span 01
          .steps__item-arrow
            img(src="images/steps/arrow.svg", alt="")
        p.steps__item-text Узнаете по каким критериям нужно выбирать септик
      li.steps__item
        .steps__item-box
          .steps__item-num
            img.steps__item-icon(src="images/steps/2.png", alt="")
            span 02
          .steps__item-arrow
            img(src="images/steps/arrow.svg", alt="")
        p.steps__item-text Как правильно выбрать место для установки
      li.steps__item
        .steps__item-box
          .steps__item-num
            img.steps__item-icon(src="images/steps/3.png", alt="")
            span 03
          .steps__item-arrow
            img(src="images/steps/arrow.svg", alt="")
        p.steps__item-text Получите файл с руководством, а также консультацию инженера
      li.steps__item
        .steps__item-box
          .steps__item-num
            img.steps__item-icon(src="images/steps/4.png", alt="")
            span 04
          .steps__item-arrow
            img(src="images/steps/arrow.svg", alt="")
        p.steps__item-text Всего за 10 шагов вы установите септик у себя дома!
    form.steps__form.form(action="mail.php")
      .steps__form-title Отправьте заявку и получите файл с инструкцией бесплатно на e-mail, whatsapp или viber!
      .steps__form-box
        input.steps__form-input.input-name(type="text" name='name' required placeholder='Ваше имя')
        input.steps__form-input.input-phone(type="text" required name='phone' placeholder='+7(999) 999-99-99')
        input.steps__form-input(type="email" name='email' placeholder='Ваш E-mail')
        button.steps__form-btn(type="submit") Оставить заявку
      p.steps__policy Отправляя данные, вы соглашаетесь с <a href='policy.html'>политикой конфиденциальности</a>