section.warn
  .container
    .warn__inner
      h2.warn__title Могу ли я сам установить септик? <br> <span>Да, но вы можете допустить следующие ошибки!</span>
      ul.warn__list
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Несоблюдение необходимого градуса уклона при прокладке системы трубопроводов.
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Траектория прокладки труб предполагает резкие перепады высоты и повороты.
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Неправильно смонтирована и проложена система трубопровода.
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Неправильное место для монтажа.
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Наверно просчитанная глубина.
        li.warn__item
          .warn__error
            img(src="images/warn/close.png", alt="")
          .warn__content
            p.warn__text Неправильный выбор оборудования.